<!DOCTYPE html>
<html>
<head>
<title> Task Manager</title>
<link rel="stylesheet" href="css/landstyle.css">

</head>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<div class="main">
    <div class="register">
        
       
        <img src="images/blockcept.png" style="height: 9ch; padding-left: 36ch; padding-top: 5ch;">
       <!-- <img src="Logo.png" style="height:15ch; width: 20ch; padding-left: 20ch; "> -->
        <h2>Log In</h2 >

        
        
        <form class="RegForm" action="/login" id="register" method="Post">
            <label >Email:</label><br>
           <!-- <input type="email" class="form-control form-control-lg"  id = "email" data-error="#errEmail" id="email" name="email" required="" title="Email is required">-->
          <!--<input type="text" name="email1" value="email2" id="email" > --><br><br>
          <input type="email" name="email" id = "email" placeholder="User name" required="" title="Email is Required">
          <label >Password:</label><br>
          <!--<input type="password" class="form-control form-control-lg" id="Password" data-error="#errPassword" id="password" name="password" required="">-->
          <!--<input type="text" name="Pass" value="password" id="Password" > -->
          <input type="password" name="password" id="Password" placeholder="password"><br><br>
          <br><br>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            Remember Me
          </label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp
            
          <label>Forget Password?</label>
        
          <br><br><br>
          <button type="submit" class="btn">
             Sign In
          </button>
        
        </form> 
            <br><br>
        
        </form>
    </div>

</div>
</centre>
</body>

</html>
