<!DOCTYPE html>
<html>
<head>
<title> User Profile</title>
<link rel="stylesheet" href="css/profile.css">
<script>    
    function validate() {    
        var fname = document.RegForm.fname;    
        var lname = document.RegForm.lname;    
            
        var gender = document.RegForm.gender;    
        var email = document.RegForm.email;    
           
    

        if (fname.value.length <= 0) {    
            alert("FirstName is required");    
            fname.focus();    
            return false;    
        }    
        if (lname.value.length <= 0) {    
            alert("Last Name is required");    
            lname.focus();    
            return false;    
        } 
        if(age.value.length<= 0){
            alert("Enter Age");
            age.focus();
            return false;
        }   
        
        if (gender.value.length <= 0) {    
            alert("Gender is required");    
            gender.focus();    
            return false;    
        }    
        if (Email.value.length <= 0) {    
            alert("Email Id is required");    
            Email.focus();    
            return false;    
        }    
        return false;
    }
        
</script>    
</head>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<div class="main">
    <div class="register">
        <h2>USER PROFILE</h2>
        <form name="RegForm" onsubmit="return validate()" id="register" method="post">
            
            
            <br><br>
        
        </form>
    </div>