<!DOCTYPE html>
<html>
<head>
<title> User Profile</title>
<link rel="stylesheet" href="css/profile.css">
<script>    
  
        
</script>    
</head>




<div class="main">
    <div class="register">
        <h2>USER PROFILE</h2>
        <form class="form container">
            
           
            <div class="mb-3">
              <label for="exampleInputfirstName" class="form-label1">First Name  </label>
              <input type="text" class="form-control" id="exampleInputfirstName">
              &nbsp &nbsp &nbsp
              <button id="button1"> Edit </button>
            </div>
            <br>
            <div class="mb-3">
              <label for="exampleInputlastname" class="form-label2">Last Name  </label>
              <input type="text" class="form-control" id="exampleInputlastname">
              &nbsp &nbsp &nbsp
              <button id="button2"> Edit </button>
            </div>
            <br>
           
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label3">Email    </label>&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                &nbsp &nbsp &nbsp
                <button id="button3"> Edit </button>
              </div>
              <br>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label4">Password  </label>&nbsp
                <input type="password" class="form-control" id="exampleInputPassword1">
                &nbsp &nbsp &nbsp
                <button id="button4"> Edit </button>
              </div>
              <br>
             
            
          </form>
    </div>